<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="textPage.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="ucsdlogo.jpg" />

    <title>TEC Controller</title>
</head>
<body>
    <div class="container">
        <p>You already have a PC.</p>
        <p>If this is a mistake please let the TEC staff know.</p>

        <button onclick="goToHomepage()">Ok</button>
    </div>

    <script>
        function goToHomepage() {
            window.location.href = '/';
        }
    </script>
</body>
</html>
