<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <div class="centeredHeader">
        <h1>Click an available PC to select it</h1>
    </div>
<div class="body">
<div class="Garage">Garage</div>
<div id="pcTooltip" class="tooltip"></div>
<div id="Seats">
    <div class="Row">
        <div class="Left">
            <div class="PC available pc-item" data-pc-name="D1">D1</div>
            <div class="PC available pc-item" data-pc-name="D2">D2</div>
            <div class="PC available pc-item" data-pc-name="D3">D3</div>
            <div class="PC available pc-item" data-pc-name="D4">D4</div>
            <div class="PC available pc-item" data-pc-name="D5">D5</div>
            <div class="PC available pc-item" data-pc-name="D6">D6</div>
        </div>
        <div class="right">
            <div class="PC available pc-item" data-pc-name="E1">E1</div>
        </div>
    </div>
    <div class="Row">
        <div class="Left">
            <div class="PC available pc-item" data-pc-name="C1">C1</div>
            <div class="PC available pc-item" data-pc-name="C2">C2</div>
            <div class="PC available pc-item" data-pc-name="C3">C3</div>
            <div class="PC available pc-item" data-pc-name="C4">C4</div>
            <div class="PC available pc-item" data-pc-name="C5">C5</div>
            <div class="PC available pc-item" data-pc-name="C6">C6</div>
        </div>
        <div class="right">
            <div class="PC available pc-item" data-pc-name="E2">E2</div>
        </div>
    </div>
    <div class="Row">
        <div class="Left">
            <div class="PC available pc-item" data-pc-name="B1">B1</div>
            <div class="PC available pc-item" data-pc-name="B2">B2</div>
            <div class="PC available pc-item" data-pc-name="B3">B3</div>
            <div class="PC available pc-item" data-pc-name="B4">B4</div>
            <div class="PC available pc-item" data-pc-name="B5">B5</div>
        </div>
        <div class="right">
            <div class="PC available pc-item" data-pc-name="E3">E3</div>
        </div>
    </div>
    <div class="Row">
        <div class="Left">
            <div class="PC available pc-item" data-pc-name="A1">A1</div>
            <div class="PC available pc-item" data-pc-name="A2">A2</div>
            <div class="PC available pc-item" data-pc-name="A3">A3</div>
            <div class="PC available pc-item" data-pc-name="A4">A4</div>
            <div class="PC available pc-item" data-pc-name="A5">A5</div>
        </div>
        <div class="right">
            <div class="PC available pc-item" data-pc-name="E4">E4</div>
        </div>  
    </div>
    <div id="userData" data-points="<%= JSON.stringify(user) %>"></div>
<div class="Cafe">Cafe</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
<script>
    const socket = io();
    let userData = document.getElementById('userData').getAttribute('data-points')
    socket.on('pcStatusUpdate', (data) => {
        for(let i = 0; i < data.pcList.length; i++){
            changeStatus(data.pcList[i].name, data.pcList[i].status)
        }
    });

    const pcItems = document.querySelectorAll('.pc-item');
    pcItems.forEach((pcItem) => {
        pcItem.addEventListener('click', () => {
            if (pcItem.classList.contains("Available") || pcItem.classList.contains("darkGreen")){
                const pcName = pcItem.dataset.pcName;
                socket.emit('assignPC', { pcName: pcName, userData: JSON.parse(userData)});
            }
        });
        pcItem.addEventListener('mouseenter', () => {
            if(pcItem.classList.contains('Available')){
                pcItem.classList.remove("Available")
                pcItem.classList.add("darkGreen")
            }
        });
        pcItem.addEventListener('mouseleave', () => {   
            if(pcItem.classList.contains('darkGreen')){
                pcItem.classList.remove("darkGreen")
                pcItem.classList.add("Available")
            }
        });
    });


    socket.on('changePage', (data)=>{
        window.location.href = data;
    });

    
  </script>
<script type="text/javascript" src="/script.js"> </script>
</html>