.PC{
    display:inline-block;
    border: solid;
    margin: 15px;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.Garage{
    display: block;
    border: solid;
    text-align: center;
    height: 20px;
    padding: 20px;
    background-color:silver;
}
.Cafe{
    display: block;
    border: solid;
    text-align: center;
    height: 20px;
    padding: 20px;
    background-color:silver;
}
*{
    margin: 15px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add{
    text-align:center;
}
.Row{
    display: flex;
    justify-content: space-between;
}
.available{
    background-color: lightgreen;
}
.used{
    background-color: lightcoral;
}
.broken{
    background-color: yellow;
}
button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 11px 24px;
    min-height: 44px;
    min-width: 44px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    :hover {
        background: #f6f6f7;
        outline: 1px solid transparent;
    }
}