.PC{
    display:inline-block;
    border: solid;
    margin: 15px;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.Garage{
    display: block;
    border: solid;
    text-align: center;
    height: 20px;
    padding: 20px;
    background-color:silver;
    
}
.Cafe{
    display: block;
    border: solid;
    text-align: center;
    height: 20px;
    padding: 20px;
    background-color:silver;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}
*{
    margin: 10px;
}
.body{
    /* background: url('ucsdlogo.jpg');
    background-repeat: no-repeat;
    background-size: 1920px 1080px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.add{
    text-align:center;
}
.QueueSize{
    text-align: center;
    display: inline-block;
}
.Row{
    display: flex;
    justify-content: space-between;
}
.Available{
    background-color: lightgreen;
}
.darkGreen{
    background-color: green;
}
.Used{
    background-color: lightcoral;
}
.OutOfOrder{
    background-color: gray;
}
.buttons{
    padding: 5px;
}
#myDialog{
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
}
button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 11px 24px;
    min-height: 44px;
    min-width: 44px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    :hover {
        background: #f6f6f7;
        outline: 1px solid transparent;
    }
}
.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 1px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
    margin: 2px;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }
  
  /* .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  .box select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    visibility: hidden;
  }
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    padding: 30px;
  } 

.centeredHeader {
    position: absolute;
    /* top: 50%; */
    top: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
  }